<div class="page-header">
  <h3>
    <a href="/scenes/" class="btn btn-default btn-med">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a href="/scenes/<%= @scene.id %>/edit"><%= @scene.name %></a>
  </h3>
</div>
