.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 65%;
    vertical-align: middle;
}

.panel-footer select {
  /*padding:4px;*/
}

@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1560px){.container{width:1530px}}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-color: #272727;
}

.toggle.ios .toggle-handle {
  width: 30px;
}

.slider-handle {
  background: #375a7f !important;
}
